# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.vscode/

# dependencies
node_modules/
.venv/
/.pnp
.pnp.js
ssl/

# testing
/coverage

# production
/build

__pycache__/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
nodemon.json
jsconfig.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
